= f.text_field :title
= f.text_field :tag_list, :label => 'Tags'
= f.text_area :body, :rows => 10
= f.text_area :summary, :rows => 3
= f.datetime_select :published_at

.form_buttons
  = f.submit 'Save'
  %span= "or #{link_to 'cancel', objects_path}"