%div[news_post]
  %h4= link_to news_post.title, object_path(news_post)
  #summary=h news_post.summary
  %p.published_at= news_post.published_at.strftime('%d/%m/%Y')
  
  %ul.links
    %li= link_to 'Show', object_path(news_post)
    %li= link_to 'Edit', edit_object_path(news_post)
    %li= link_to 'Destroy', object_path(news_post), :confirm => 'Are you sure you want to delete this post?', :method => :delete

%hr/