%h1 Editing news_post

= error_messages_for :news_post

- form_for(:news_post, :url => object_url, :html => { :method => :put }) do |f|
  = render :partial => "form", :locals => {:f => f}
  %p= submit_tag "Update"

= link_to 'Show', object_path
|
= link_to 'Back', objects_path
