!!!

%html
  %head
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    = stylesheet_link_tag('application', 'tags')
    = javascript_include_tag(:defaults)
    %title= yield :title

  %body#test
    %div#column.container_12
      %div#header.grid_12
        %h1= link_to 'Takeform Blog', root_path
        
      %hr
      
      %div#content.grid_8
        = yield
      
      %div#sidebar.grid_4.last
        = yield :sidebar
        = render :partial => 'partials/recent_posts', :locals => {:posts => @recent_posts} unless @recent_posts.nil?
        = render :partial => 'partials/tag_cloud'
      %div#footer.grid_12
        %p Footer text goes here